.char-info {
  margin: 2px;
  height: 40px;
}

.char-info-display {
  float: left;
  font-size: 24px;
  line-height: 24px;

  height: 30px;
  width: 100px;

  border: 2px solid;
  border-radius: 8px;
}

.char-info input {
  float: left;
}

